html {
    box-sizing: border-box;
    font-family: monospace;
}
  
*, *::before, *::after {
    box-sizing: inherit;
    text-align: center;
}

#maze {
    width: 500px;
    height: 500px;
    border: 1px solid;
    border-radius: 46px;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: 1px solid;
    flex-grow: 1;
}

.container {
    display: flex;
    justify-content: center;
}

.player {
    background-color: #DC3C18;
}

.exit {
    background-color: #DDDDDD;
}

.escaped {
    background-color: #98C46E;
}